@import "./hljs/stackoverflow-dark";
.stackoverflow-light {
  @import "./hljs/stackoverflow-light";
}

$bg-1: #13a2c3b5;
$bg-2: rgba(14, 236, 210, 0.67);
$bg-3: #bce35d;
$bg-4: #8f6b94;
$s-bg: #151d29;
$f-1: #7cc47f;
$f-2: #149498;
$f-light: #ac881c;
$t-color: #9dab9f;

.app-wrapper {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &:before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--page-overlay);
    pointer-events: none;
  }
  > * {
    position: relative;
    z-index: 1;
  }
  header {
    border-bottom: 1px solid var(--layout-divider);
  }
  footer {
    border-top: 1px solid var(--layout-divider);
  }
  header, footer {
    z-index: 2;
    flex-grow: 0;
    min-height: 60px;
    position: absolute;
    width: 100%;
    background-color: var(--navigation);
    &:before {
      content: '';
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(2px);
    }
    > * {
      position: relative;
      z-index: 1;
    }
  }
  footer {
    bottom: 0;
  }
  .page-wrapper {
    flex-grow: 1;
    display: flex;
  }
  .sidebar {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 270px;
    flex-grow: 0;
    border-right: 1px solid  var(--layout-divider);
    background-color: var(--s-bg);
    nav {
      padding: 1rem 0;
      > a {
        display: contents!important;
        text-decoration: none;
        a {
          text-decoration: none;
          display: block;
          line-height: 1.2;
          padding: .5rem 1rem;
          font-size: 14px;
          color: var(--f-1);
          &:hover, &.active {
            color: var(--f-light);
          }
          &.active {
            background-color: var(--f-light);
            color: var(--s-bg);
            pointer-events: none;
          }
        }
      }
    }
    .ps {
      margin-top: -60px;
      padding: 60px 0;
    }
  }
  main {
    flex-grow: 1;
    .ps {
      padding: 3rem 0;
      height: 100vh;
    }
  }
  .page {
    width: 1000px;
    margin: 0 auto;
  }
}
#app {
  position: relative;
  min-height: 100vh;
  .sr-only {
    position: absolute;
    height: 0;
    overflow: hidden;
  }

  > * {
    position: relative;
    z-index: 1;
  }
  > * > .ps {
    height: 100vh;
  }
  .ps__thumb-x, .ps__thumb-y {
    background-color:var(--f-2);
  }
  .ps .ps__rail-x:hover,
  .ps .ps__rail-y:hover,
  .ps .ps__rail-x:focus,
  .ps .ps__rail-y:focus,
  .ps .ps__rail-x.ps--clicking,
  .ps .ps__rail-y.ps--clicking {
    background-color: darken($s-bg, 5);
  }
  .ps:hover > .ps__rail-x,
  .ps:hover > .ps__rail-y,
  .ps--focus > .ps__rail-x,
  .ps--focus > .ps__rail-y,
  .ps--scrolling-x > .ps__rail-x,
  .ps--scrolling-y > .ps__rail-y {
    opacity: 0.84;
  }
  section {
    transition: all .25s cubic-bezier(.4,0,.2,1);
    overflow: hidden;
    padding: .5rem 1.5rem 0;
    margin: 4rem 0;
    background-color: var(--s-bg);
    color: var(--t-color);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .1), 0 2px 2px 0 rgba(0, 0, 0, .07), 0 3px 1px -2px rgba(0, 0, 0, .06);
    a {
      transition: color .25s cubic-bezier(.4,0,.2,1);
      color: var(--f-1);
      border-bottom: 1px dotted var(--f-3);
      text-decoration: none;
      &:hover {
        color: var(--f-light);
      }
    }
    h3 {
      margin: -.5rem -1.5rem 0;
      padding: 0;
      z-index: 1;
      a {
        font-weight: bold;
        padding: 1.5rem;
        display: block;
        background-color: var(--s-bg-2);
        border-bottom: 1px solid var(--layout-divider);
      }
    }
    pre .hljs {
      padding: 1rem;
      border-radius: 6px;
      background-color: var(--pre-hljs);
      max-height: 450px;
    }
    &:hover {
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .1), 0 8px 10px 1px rgba(0, 0, 0, .07), 0 3px 14px 2px rgba(0, 0, 0, .06);
    }
    &:hover {
      background-color: var(--s-bg-3);
    }
  }
  /*.sidebar {
    order: 2;
    padding: 1rem;
    position: fixed;
    width: 240px;
    top: 4.2rem;
    right: calc((100vw - 1200px) / 2);
    background-color: var(--sb-bg);
    border-radius: 3rem;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .1), 0 2px 2px 0 rgba(0, 0, 0, .07), 0 3px 1px -2px rgba(0, 0, 0, .06);
  }*/
  .related-questions {
    border-top: 1px solid var(--s-bg-4);
    padding-top: 0;
    h4 {
      margin: .75rem 0 0;
      + ul {
        margin-top: .5rem;
      }
    }
  }
  .stackoverflow-light {
    section {
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .05), 0 8px 10px 1px rgba(0, 0, 0, .03), 0 3px 14px 2px rgba(0, 0, 0, .02);
      background-color: #f9f9f9;
      h3 a {
        padding: 1rem 1.5rem;
      }
      &.expanded, &:hover {
        background-color: #fff;
        h3 a {
          background-color: #fff;
        }
      }
      &.expanded h3 a {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
      }
    }
    /*.sidebar {
      width: 269px;
      border-radius: 0 2rem 2rem 0;
    }*/
  }

  --layout-divider: #{transparentize($s-bg, .7)};
  --page-overlay: rgba(0, 0, 0, .12);
  --navigation: rgba(0,0,0,.12);
  --bg-1: #{$bg-1};
  --bg-2: #{$bg-2};
  --bg-3: #{$bg-3};
  --bg-4: #{$bg-4};
  --s-bg: #{$s-bg};
  --s-bg-2: #{darken($s-bg, 3)};
  --s-bg-3: #{darken($s-bg, 5)};
  --s-bg-4: #{desaturate($s-bg, 5)};
  --sb-bg: rgba(0,0,0,.21);
  --f-1: #{$f-1};
  --f-2: #{$f-2};
  --f-3: #{transparentize($f-1, .42)};
  --f-light: #{$f-light};
  --f-light-2: #{darken($f-light, 5)};
  --t-color: #{$t-color};
  --pre-hljs: #{saturate($s-bg, 5)};
  .stackoverflow-light {
    --layout-divider: #ccc;
    --page-overlay: rgba(234, 232, 236, .95);
    --navigation: rgba(255,255,255,.42);
    --bg-1: #eee;
    --bg-2: #eee;
    --bg-3: #ddd;
    --bg-4: #ccc;
    --s-bg: #ffffff;
    --s-bg-2: #ffffff;
    --s-bg-3: #ffffff;
    --s-bg-4: #ccc;
    --sb-bg: rgba(255,255,255,.65);
    --f-1: #64564f;
    --f-2: #64564f;
    --f-3: #c30;
    --f-light: #c30;
    --f-light-2: darken(#c30, 5);
    --t-color: rgb(38 53 49);
    --pre-hljs: #f3f4f5;
  }

  //background: radial-gradient(ellipse at top left, $bg-1, transparent),
  //radial-gradient(ellipse at bottom right, $bg-2, transparent);
  background: radial-gradient(ellipse at top right, var(--bg-1), var(--bg-2)),
  radial-gradient(ellipse at bottom right, var(--bg-3), var(--bg-4)), var(--s-bg);
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",system-ui,Helvetica,Arial,'Roboto', sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.8rem;
  * {
    box-sizing: border-box;
  }
}
